/* fonts */
body {
    margin: 0;
    background-color: white;
}

header {
    background-color: #598c98;
}

.spacer {
    height: 100px;
}

button {
    align-self: center;
}

.home-heading {
    margin: 0;
    background: #598c98;
    background: linear-gradient(180deg, rgba(54,74,79,1) 0%, rgba(35,89,101,1) 35%, rgba(89,140,152,1) 100%);
    color: white;
    min-height: 120vh;
    padding: 0px;
}

h1 {
    font-family: "Crystal Radio Kit",  Verdana, Tahoma;
    margin: 0;
    text-align: center;
    padding: 10px 5px;
    font-size: 80px;
}

p {
    margin: 0;
    text-align: center;
    padding: 15px 15px;
    font-family: "Retro Gaming", Verdana, Tahoma;
    color: #364a4f;
}

h3 {
    margin: 0;
    text-align: center;
    padding: 15px 15px;
    font-family: "Retro Gaming", Times, Serif;
    color: white;
    font-size: 20px;
}

h4 {
    margin: 0;
    text-align: center;
    padding: 15px 15px;
    font-family: "Times New Roman", Times, Serif;
    color: #598c98;
    font-size: 30px;
}

@font-face {
    font-family: "Crystal Radio Kit";
    src: url("assets/fonts/Crystal\ Radio\ Kit.otf") format("opentype");
}

@font-face {
    font-family: "Billo";
    src: url("assets/fonts/BILLO___.TTF") format("truetype");
}

@font-face {
    font-family: "Spacetime";
    src: url("assets/fonts/spacetime-regular.ttf") format("truetype");
}

@font-face {
    font-family: "The Augusta";
    src: url("assets/fonts/The\ Augusta.otf") format("opentype");
}

@font-face {
    font-family: "Cursive";
    src: url("assets/fonts/cursive.ttf") format("truetype");
}

@font-face {
    font-family: "Jocky Starline";
    src: url("assets/fonts/Jocky\ Starline.ttf") format("truetype");
}

@font-face {
    font-family: "Retro Gaming";
    src: url("assets/fonts/Retro\ Gaming.ttf") format("truetype");
}

/* font families */

.billo { 
    font-family: "Billo", Verdana, Tahoma;
}

.crystal-radio-kit {
    font-family: "Crystal Radio Kit",  Verdana, Tahoma;
}

.spacetime {
    font-family: "Spacetime", Verdana, Tahoma;
}

.augusta {
    font-family: "The Augusta", Verdana, Tahoma;
}

.cursive {
    font-family: "Cursive", Verdana, Tahoma;
}

.starline {
    font-family: "Jocky Starline", Verdana, Tahoma;
}

.retro-gaming {
    font-family: "Retro Gaming", Verdana, Tahoma;
}

/* basic header with shadow and some padding */
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #598c98;
    padding: 20px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.203);
}


/* Style the header links */
.navbar a {
    float: left;
    color: #fdffd3;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .navbar a.logo {
    font-family: "The Augusta", Verdana, Tahoma;
    font-size: 40px;
    font-weight: normal;
    color: #fbffa7;
  }
  
  /* Change the background color on mouse-over */
  .navbar a:hover {
    background-color: #395b63;
    color: fdffd3;
  }
  
  /* Style the active/current link*/
  .navbar a.active {
    background-color: #fbffa7;
    color: #598c98;
  }
  
  /* Float the link section to the right */
  .navbar-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar-right {
      float: none;
    }
  }

  .subheader {
    text-align: center;
    color: #598c98;
  }

  h2 {
    font-family: "Jocky Starline", Verdana, Tahoma;
    font-size: 80px;
  }

  .poem {
    margin: auto;
    margin-top: 20px;
    padding: 12px;
    max-width: 800px;
    min-height: 100px;
    background-color: #598c98;
    border-radius: 15px;
  }

  .poem h1 {
    text-align: center;
    font-family: "Billo", Times, Serif;
    font-size: 30px;
    color:#fbffa7
  }

  .poem p {
    text-align: center;
    font-family: "Retro Gaming", verdana, Tahoma;
    font-size: 16px;
    color: white;
  }